@model SPOS.Models.T_PROD

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>T_PROD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBarcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBarcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRemoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRemoved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalingPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
