@model IEnumerable<SPOS.Models.ViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.SubCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.PBarcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.CostPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.SalePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.Manufacture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.UnitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.IUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.EUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.IDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.EDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.IsRemoved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.SalingPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategories.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.PBarcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.PName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.CostPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.SalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.ReorderLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.Manufacture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.UnitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.IUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.EUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.IDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.EDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.IsRemoved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.SalingPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Products.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Products.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Products.ProductID })
        </td>
    </tr>
}

</table>
