@model SPOS.Models.T_SALES_MST

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>T_SALES_MST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountTk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountTk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueCollection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueCollection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IUSER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IUSER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EUSER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EUSER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SlNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
