@model IEnumerable<SPOS.Models.T_SupplierPayment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrnType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrnType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SPId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SPId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SPId })
        </td>
    </tr>
}

</table>
