@model IEnumerable<SPOS.Models.T_Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueAdvance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRemoved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueAdvance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRemoved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
