@model IEnumerable<SPOS.Models.ViewModel>


@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>SubCategory ID</th>
        <th>CategoryName</th>
        <th>SubCategoryName</th>

    </tr>


    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.SubCategories.SubCategoryID</td>
            <td>@item.Categories.CategoryName</td>
            <td>@item.SubCategories.SubCategoryName</td>
            

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SubCategories.SubCategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SubCategories.SubCategoryID, cid = item.SubCategories.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SubCategories.SubCategoryID })
            </td>
        </tr>

        }
    </tbody>

   

</table>
